@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
    *{
    font-family:Inter
    }

    .logoText {
    color:white;
    padding:2px;
    margin:2px
     }
     .productPreview {
     max-width: 300px;
     max-height: 300px;
     }
    .product {
    display: flex;
    margin-top:10px;
    border-radius:10px;
    padding:10px;
    background-color:white;
    width:60%;
    }

    .heading{
     display:flex;
     align-items:center;
     justify-content:center;
    }

    nav.link{
    margin-right:50px;
    text-decoration: none;
    color:black;
    font-size:22px;
    }

    nav.link:hover{
    color:#00CED1
    }

    h2 {
    color:#00CED1
    }

    .logo {
    background-color:#00CED1;
    border-radius:10px;
    }

    .navigation {
    font-size:22px
    }

    .productList {
    background-color: #f6f6f6;
    display:flex;
    flex-direction:column;
    align-items:center;
    }

    button {
    height:50px;
    width:100%;
    background-color:white;
    border:2px solid #a6a6a6;
    padding:0px;
    border-radius:10px;
    cursor:pointer;
    font-size:17px;
    }

    .priceSection {
    min-width:170px;
    text-align:center;
    margin-left:20px
    }

    button:hover {
    color:white;
    background-color:#00CED1;

    }

    .productCard {
    width:70px;
    margin-left:auto ;
    margin-right:auto;

     display:flex;
     flex-direction:row;

    .productInfo {
    margin-top:10%px

    }

     }
    .productDetails {
      width:180px;
    margin-left:auto ;
    margin-right:auto;


    }


    a{
    text-decoration:none

    }